<p-breadcrumb
  [home]="{icon: 'pi pi-home', url: '/'}"
  [model]="[{label: 'Categorias', url: '/categories'}]">
</p-breadcrumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Categoria"
  button-class="ui-button-success float-right"
  button-link="new">
</app-page-header>

<p-table [value]="resources" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{category.name}}</td>
      <td>{{category.description}}</td>
      <td>
        <p-button label="Editar" [routerLink]="[category.id, 'edit']" class="mr-2"></p-button>
        <button pButton label="Excluir" (click)="deleteResource(category)" class="ui-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
